# VALIDATION_REPORT

- [x] style reference
- [x] crossword reference
- [x] background music
- [x] game 3 package
- [x] game 2 has 12 unique cards
- [x] game 2 allows 1 mistake
- [x] game 3 has 6+6 tasks